@import "variables.scss";

#sidebar{
    display: none;
    &:checked{
        + .sidebar{
            transform: translateX(0);
        }
    }

}

.sidebar{
    z-index: z-index(sidebar);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: $sidebar-background-color;
    box-shadow: rem(5) 0 rem(20) 0 rgba(0, 0, 0, 0.05);
    transform: translateX(-100%);
    width: 100%;
    overflow: hidden;
    @at-root .page--homepage & {
        display: none;
    }

    @include media($sidebar-breakpoint){
        transform: translateX(0);
        @include linear-interpolation-chain(width, $sidebar-widths);
    }

}

.sidebar__scrollarea{
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: auto;
}

.sidebar__container{
    display: flex;
    flex-direction: column;
    padding: rem(50) rem(70);
    @include linear-interpolation-chain(padding-top,(
    xl: 50,
        s: 40
        ));
    @include linear-interpolation-chain(padding-bottom,(
    xl: 50,
        s: 40
        ));
    @include linear-interpolation-chain(padding-left,(
    xl: 70,
        s: 30
        ));
    @include linear-interpolation-chain(padding-right,(
    xl: 70,
        s: 30
        ));
    @include media($sidebar-breakpoint){
        @include linear-interpolation-chain(width, $sidebar-widths);
    }
}

.sidebar__logo{
    margin-bottom: rem(50);
}
