@import "variables.scss";

.header{
    z-index: z-index(header);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-secondary;

    @include linear-interpolation-chain(height,$header-heights);

    @include media($sidebar-breakpoint){
        background-color: transparent;
        @include linear-interpolation-chain(padding-left, $sidebar-widths); 
        @at-root .page--homepage &{
            padding-left: 0;
        }
    }


}

.header__logo{

    width: rem(150);
    align-self: center;
    @at-root .page--homepage  &{
        width: rem(300);
    }
    @include media($sidebar-breakpoint){
        display: none;
        @at-root .page--homepage  &{
            display: block;
        }
    }

}

.header__hamburger{
    align-self: center;
    margin-left: auto;
    @include media($sidebar-breakpoint){
        display: none;
    }
}

.header__hamburger__svg{
    width: rem(30);
}


.header__languages{
    margin-left: auto;
    align-self: center;
    font-size: rem(25);
    color: $color-primary-light;
}
.header__languages__item{
    color: $color-primary-light;
    text-decoration: none;
    &:hover,&--active{
        color: $color-primary;
    }
}
