$header-background-color: $color-secondary;

$header-spacings: (
xl: 40,
s: 20
);

$header-container-max-width: 1800;
$header-container-inner-paddings: (
1920: 60,
xl: 40,
s: 25
);

$header-shadow-depth: 4;

