@import "variables.scss";

.paragraph{
    @include fluid-font($paragraph-font-size);
    color: $paragraph-color;
    display: block;
    line-height: 2;
    margin: 0;
    margin-bottom: 2em;
    
    
    > b{
        background-color: transparent;
        color: $paragraph-color-highlighted;
        text-decoration: underline;
        font-weight: normal;
    }
    
}