@import "variables.scss";


.footer{
    @include container();
    @include linear-interpolation-chain(font-size, (
    xl: 16,
        s: 13
        ));
    padding-top: 2em;
    padding-bottom: 2.5em;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.footer__img{
    @include linear-interpolation-chain(width, (
    xl: 190,
        s: 110
        ));
}

.footer__text{
    color: $footer-font-color;
    font-weight: bold;
    margin-top: 1em;
}