@import "variables.scss";


.footer{
    @include container();
    @include fluid-font($footer-font-size);
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: space-between;
    align-items: center;
}

.footer__img{
    width: 12em;
    opacity: $footer-img-opacity;
}

.footer__text{
    color: $footer-font-color;
    font-weight: bold;
}