@import "variables.scss";
.svg{
    display: block;
}


.svg--arrow{
    .svg__path{
        stroke: $color-primary;

        @at-root .division-developing &{
            stroke: $color-developing;
        }
        @at-root .division-finance &{
            stroke: $color-finance;
        }
        @at-root .division-landscape &{
            stroke: $color-landscape;
        }
        @at-root .division-solar &{
            stroke: $color-solar;
        }
    }
}
