@import "variables.scss";


.info{
    position: relative;
    @include container-pl;
    margin-left: 0;
    align-items: flex-start;
    justify-content: space-between;
    @include linear-interpolation-chain(top,(xl: 60, s: 60));
    @include linear-interpolation-chain(padding-bottom,(xl: 80, s: 64));
    flex-direction: column;

    @include media($info-breakpoint){
        flex-direction: row;
        padding-right: 35%;
        @at-root .page--about &{
            padding-right: 0;
        }
    }

}

.info__logo{
    @include linear-interpolation-chain(width, $info-logo-widths);
    max-width: 100%;
    margin-bottom: rem(60);
}

.info__heading{
    line-height: 1.3;
    margin-bottom: rem(70)
}
.info__paragraph{
    position: relative;
}

.info__description{
    margin-bottom: rem(50);
    @include media($info-breakpoint){
        margin-bottom: rem(50);
    }
}

.info__illustration{
    width: 100%;
    max-width: rem(400);
    margin: 0 auto;
    margin-bottom: rem(40);
    display: none;

    &--small{
        display: block;
    }



    @include media(l){
        &--small{
            display: none;
        }
        &--large{
            display: block;
        }
        width: rem(500);
        max-width: none;
        margin-bottom: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(100%);
        right: -10%;
    }

}

.info__accordion{
    position: relative;

    &.is-active{
        overflow: visible;
        .info__accordion__button{
            &:after{
                content: "ZOBRAZI\0164  MENEJ"
            }
        }
    }
}

.info__accordion__hidden{
    height: 0;
    overflow: hidden;
}

.info__accordion__button{
    bottom: rem(5);
    background-color: $color-secondary;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 0.3em 1em;
    @include border-radius(rem(20));
    cursor: pointer;
    transition-property: transform;
    transition-duration: 500ms;
    box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.05);

    &:after{
        content: "ZOBRAZI\0164  VIAC"
    }
}
