@import "variables.scss";


.info{
    @include container;
    align-items: flex-start;
    justify-content: space-between;
    @include linear-interpolation-chain(padding-top,(xl: 100, s: 64));
    @include linear-interpolation-chain(padding-bottom,(xl: 80, s: 64));
    flex-direction: column;
    @include media($info-breakpoint){
        flex-direction: row;
    }
}

.info__logo{
    @include linear-interpolation-chain(width, $info-logo-widths);
    margin-bottom: rem(80);
    &--hide{
        display: none;
        @include media($menu-breakpoint){
            display: block;;
        }
    }
}

.info__heading{
    line-height: 1.3;
    margin-bottom: 1.7em;
    @include media($menu-breakpoint){
        display: none;
    }
}

.info__description{
    margin-bottom: rem(50);
    @include media($info-breakpoint){
        margin-bottom: rem(50);
        margin-right: $info-description-spacing * 1em;
    }
}

.info__contacts{
    margin-right: auto;
    width: 100%;
    @include media($info-breakpoint){
        flex-shrink: 0;
        box-shadow: 0 rem(5) rem(20) 0 rgba(0, 0, 0, 0.05);
        width: 25em;
    }
}