@import "variables.scss";


.contacts{
    padding: rem(40) rem(55);
    color: $contacts-color;
    @include fluid-font(xs);
    @at-root &.info__contacts{
        padding: 0;
        @include media($info-breakpoint){
            padding: rem(40) rem(55);
        }
    }
}

.contacts__heading{
    color: $contacts-heading-color;
    margin-bottom: 2.5em;
}

.contacts__line{
    margin-bottom: 0.8em;
    &--dark{
        color: $contacts-color-dark;
    }
}

.contacts__block{
    margin-bottom: rem(40);
}

.contacts__table{
    width: 100%;
}

.contacts__table__row{

}

.contacts__table__cell{
    padding-bottom: 0.8em;
    &:first-child{
        color: $contacts-color-dark;
        @at-root .main--developing &{
            color: $color-developing;
        }
        @at-root .main--finance &{
            color: $color-finance;
        }
        @at-root .main--landscape &{
            color: $color-landscape;
        }
        @at-root .main--solar &{
            color: $color-solar;
        }
        @at-root .main--about &{
            color: $color-about;
        }
    }

    @at-root .contacts__table__row--space &{
        padding-bottom: 2em;
    }
}