@import "variables.scss";


.contacts{
    display: flex;
    flex-wrap: wrap;
    color: $contacts-color;
    @include fluid-font(xs);
    box-shadow: 0 rem(5) rem(20) 0 rgba(0, 0, 0, 0.05);
    padding: rem(60) rem(55);


    &--footer{
        padding: 0;
        margin-bottom: rem(20);
        width: 100%;
        box-shadow: none;
        @include media($sidebar-breakpoint){
            box-shadow: 0 rem(5) rem(20) 0 rgba(0, 0, 0, 0.05);
            padding: rem(60) rem(55);
            width: auto;
        }
    }
}

.contacts__logo{
    width: 100%;
    margin-bottom: 1.25em;
    @include media($invests-breakpoint){
        display: block;
    }
}

.contacts__heading{
    width: 100%;
    margin-bottom: 1.7em;
    color: $contacts-heading-color;
}

.contacts__col{
    width: 100%;
    margin-bottom: 2em;
    @include media(1300){
        margin-bottom: 0;
        width: 33%;
    }
}

.contacts__line{
    margin-bottom: 0.8em;
    &--dark{
        color: $contacts-color-dark;
    }
}

.contacts__block{
    margin-bottom: rem(40);
}

.contacts__table{
    width: 100%;
}

.contacts__table__row{

}

.contacts__table__cell{
    padding-bottom: 0.8em;
    &:first-child{
        width: rem(75);
        color: $contacts-color-dark;
        @at-root .page--developing &{
            color: $color-developing;
        }
        @at-root .page--finance &{
            color: $color-finance;
        }
        @at-root .page--landscape &{
            color: $color-landscape;
        }
        @at-root .page--solar &{
            color: $color-solar;
        }
        @at-root .page--about &{
            color: $color-about;
        }
    }

    @at-root .contacts__table__row--space &{
        padding-bottom: 2em;
    }
}