$homepage-container-width: 1920;
$homepage-breakpoint: 1000;
$homepage-item-paddings-horizontal:(
$homepage-container-width: 60, 
$homepage-breakpoint: 40
);

$homepage-paragraph-font-sizes: (
$homepage-container-width: 14,
xl: 12,
)