$homepage-container-width: 1920;
$homepage-item-paddings-horizontal:(
$homepage-container-width: 77, 
s: 50
);

$homepage-paragraph-font-sizes: (
$homepage-container-width: 14,
xl: 12,
s: 12
)