@import "variables.scss";


.divisions{
    @include container-custom($layout-container-max-width,(xl:40,s:25));
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    @include media(l){
        flex-direction: row;
        align-items: flex-start;
    }
}

.divisions__heading{
    text-transform: none;
    width: 100%;
    margin-bottom: 2.5em;
}

.divisions__breadcrumb{
    color: $divisions-breadcrumb-color;
    font-size: 0.7em;
    margin-left: 1em;
    white-space: nowrap;
}

.divisions__card{
    position: relative;
    width: 100%;
    box-shadow: 0 rem(5) rem(20) 0 rgba(0, 0, 0, 0.05);
    text-decoration: none;
    @include linear-interpolation-chain(padding-left,$divisions-card-paddings-left);
    @include linear-interpolation-chain(padding-right,$divisions-card-paddings-right);
    @include linear-interpolation-chain(padding-top,$divisions-card-paddings-top);
    @include linear-interpolation-chain(padding-bottom,$divisions-card-paddings-bottom);
    @include linear-interpolation-chain(margin-bottom,$divisions-card-margins-bottom);


    @include media(l){
        width: 46%;
    }
}

.divisions__card__logo{
    width: 90%;
    max-width: rem(306);
}

.divisions__card__paragraph{
    @include linear-interpolation-chain(margin-top,$divisions-paragraph-spacings);
    @include linear-interpolation-chain(font-size, $divisions-card-paragraph-font-sizes);
    color: $divisions-card-paragraph-color;
    display: block;
    line-height: 2;
    margin-bottom: 0;

}

.divisions__card__button{
    position: absolute;
    width: rem(60);
    display: block;
    bottom: 0;
    @include border-radius(50%); 
    box-shadow: 0 rem(5) rem(20) 0 rgba(0, 0, 0, 0.05);
    background-color: $color-secondary;
    transform: translateY(50%);

    @at-root .divisions__card--developing &{
        box-shadow: 0 rem(16) rem(40) rem(-10) transparentize($color-developing,0.55);
    }
    @at-root .divisions__card--finance &{
        box-shadow: 0 rem(16) rem(40) rem(-10) transparentize($color-finance,0.55);
    }
    @at-root .divisions__card--landscape &{
        box-shadow: 0 rem(16) rem(40) rem(-10) transparentize($color-landscape,0.35);
    }
    @at-root .divisions__card--solar &{
        box-shadow: 0 rem(16) rem(40) rem(-10) transparentize($color-solar,0.55);
    }

}

.divisions__card__svg{
    position: absolute;
    top: rem(1);
    bottom: 0;
    left: rem(2);
    right: 0;
    margin: auto;
    width: 20%;
}
