$divisions-breadcrumb-color: $color-primary-light;

$divisions-card-margins-bottom: (
xl: 105,
s: 75
);

$divisions-paragraph-spacings: (
xl: 46,
s: 30
);

$divisions-card-paddings-left: (
xl: 72,
s: 25
);

$divisions-card-paddings-right: (
xl: 72,
s: 25
);

$divisions-card-paddings-top: (
xl: 84,
s: 40
);

$divisions-card-paddings-bottom: (
xl: 66,
s: 50
);

$divisions-card-paragraph-font-sizes: (
xl: 14,
s: 12
);

$divisions-card-paragraph-color: $color-primary-light;