/*@import "material/buttons.scss";*/
@font-face {
  font-family: "SofiaPro";
  src: url("../fonts/SofiaPro-Regular.woff"); }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff"); }
.heading {
  font-family: "SofiaPro";
  font-weight: normal;
  font-style: normal;
  color: #3c3750;
  line-height: 1.33; }
  .heading--light {
    color: #817d8e; }
  .heading--regular {
    font-weight: normal; }
  .heading--italic {
    font-style: italic; }
  .heading--thin {
    font-weight: 300; }
  .heading--center {
    text-align: center; }

.heading__light {
  opacity: 0.4; }

.heading__breadcrumb {
  color: #e0e0e0;
  font-size: calc(0.78125vw + 0.875rem); }
  @media (min-width: 80em) {
    .heading__breadcrumb {
      font-size: 1.5rem; } }

.heading__text {
  vertical-align: baseline;
  margin-right: 0.5em; }
  .heading__text--warning {
    display: inline-block;
    position: relative;
    bottom: 0.25rem;
    margin-bottom: 0.625rem;
    margin-right: 1.875rem;
    font-size: 1.125rem;
    padding: 0.6875rem 2.6875rem 0.6875rem 2.6875rem;
    color: #c62828;
    border: 0.1875rem solid #c62828;
    border-top-left-radius: 3.75rem;
    border-top-right-radius: 3.75rem;
    border-bottom-left-radius: 3.75rem;
    border-bottom-right-radius: 3.75rem; }

.heading--1 {
  font-size: calc(1.04167vw + 2.04167rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--1 {
      font-size: 2.875rem; } }

.heading--2 {
  font-size: calc(1.04167vw + 1.66667rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--2 {
      font-size: 2.5rem; } }

.heading--3 {
  font-size: calc(0.625vw + 1.5rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--3 {
      font-size: 2rem; } }

.heading--4 {
  font-size: calc(0.41667vw + 1.29167rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--4 {
      font-size: 1.625rem; } }

.heading--5 {
  font-size: calc(0.20833vw + 0.95833rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--5 {
      font-size: 1.125rem; } }

.heading--6 {
  font-size: calc(0.10417vw + 0.91667rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--6 {
      font-size: 1rem; } }

#sidebar {
  display: none; }
  #sidebar:checked + .sidebar {
    transform: translateX(0); }

.sidebar {
  z-index: 150;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.05);
  transform: translateX(-100%);
  width: 100%;
  overflow: hidden; }
  .page--homepage .sidebar {
    display: none; }
  @media (min-width: 62.5em) {
    .sidebar {
      transform: translateX(0);
      width: calc(44.64286vw - 9.15179rem); } }
  @media (min-width: 62.5em) and (min-width: 80em) {
    .sidebar {
      width: 26.5625rem; } }

.sidebar__scrollarea {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: auto; }

.sidebar__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 3.125rem 4.375rem;
  padding-top: calc(1.04167vw + 2.29167rem);
  padding-bottom: calc(1.04167vw + 2.29167rem);
  padding-left: calc(4.16667vw + 1.04167rem);
  padding-right: calc(4.16667vw + 1.04167rem); }
  @media (min-width: 80em) {
    .sidebar__container {
      padding-top: 3.125rem; } }
  @media (min-width: 80em) {
    .sidebar__container {
      padding-bottom: 3.125rem; } }
  @media (min-width: 80em) {
    .sidebar__container {
      padding-left: 4.375rem; } }
  @media (min-width: 80em) {
    .sidebar__container {
      padding-right: 4.375rem; } }
  @media (min-width: 62.5em) {
    .sidebar__container {
      width: calc(44.64286vw - 9.15179rem); } }
  @media (min-width: 62.5em) and (min-width: 80em) {
    .sidebar__container {
      width: 26.5625rem; } }

.sidebar__logo {
  margin-bottom: 3.125rem; }

.header {
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: calc(0vw + 6.25rem); }
  @media (min-width: 80em) {
    .header {
      height: 6.25rem; } }
  @media (min-width: 62.5em) {
    .header {
      background-color: transparent;
      padding-left: calc(44.64286vw - 9.15179rem); } }
  @media (min-width: 62.5em) and (min-width: 80em) {
    .header {
      padding-left: 26.5625rem; } }
  @media (min-width: 62.5em) {
      .page--homepage .header {
        padding-left: 0; } }

.header__logo {
  width: 9.375rem;
  align-self: center; }
  .page--homepage .header__logo {
    width: 15.625rem; }
  @media (min-width: 62.5em) {
    .header__logo {
      display: none; }
      .page--homepage .header__logo {
        display: block; } }

.header__hamburger {
  align-self: center;
  margin-left: auto; }
  @media (min-width: 62.5em) {
    .header__hamburger {
      display: none; } }

.header__hamburger__svg {
  width: 1.875rem; }

.header__languages {
  margin-left: auto;
  align-self: center;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.2); }

.header__languages__item {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none; }
  .header__languages__item:hover, .header__languages__item--active {
    color: #3c3750; }

.topnav {
  display: flex;
  font-family: "SofiaPro";
  font-size: calc(0.20833vw + 0.77083rem);
  margin-top: auto;
  margin-bottom: auto;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 2em;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
  padding-left: calc(0.52083vw + 2.08333rem);
  transform: translateY(50%);
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.04); }
  @media (min-width: 80em) {
    .topnav {
      font-size: 0.9375rem; } }
  @media (min-width: 80em) {
    .topnav {
      padding-left: 2.5rem; } }
  @media (min-width: 62.5em) {
    .topnav {
      box-shadow: none; } }

.topnav__extension {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(-100%); }

.topnav__item {
  position: relative;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease; }
  .topnav__item:not(:last-child) {
    margin-right: calc(7.29167vw + 0.41667rem); }
    @media (min-width: 80em) {
      .topnav__item:not(:last-child) {
        margin-right: 6.25rem; } }
  .topnav__item:hover, .topnav__item--active {
    color: #3c3750; }
    .topnav__item:hover .topnav__underline, .topnav__item--active .topnav__underline {
      background-color: #3c3750;
      transform: scaleX(1); }

.topnav__hamburger {
  margin-left: auto;
  color: black; }

.topnav__underline {
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scaleX(0);
  transform-origin: left center;
  transition-property: transform, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease; }

.sidenav {
  width: 100%;
  height: 100%;
  min-height: 37.5rem;
  max-height: 56.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calc(0.73529vw + 0.91544rem); }
  @media (min-width: 62.5em) {
    .sidenav {
      font-size: calc(1.78571vw - 0.05357rem); } }
  @media (min-width: 80em) {
    .sidenav {
      font-size: 1.375rem; } }

.sidenav__item {
  width: 100%;
  display: flex;
  color: #3c3750;
  text-decoration: none;
  /*margin-bottom: 3em;*/ }
  .sidenav__item--main {
    margin-bottom: 2em; }
  .sidenav__item--margin {
    margin-bottom: 1.5625rem; }
  .sidenav__item:not(.sidenav__item--main):hover .sidenav__logo {
    transform: translateX(0.3125rem); }
  .sidenav__item:not(.sidenav__item--main):hover .sidenav__text {
    transform: translateX(0.3125rem); }

.sidenav__logo {
  width: 100%; }

.sidenav__divider {
  width: 50%;
  height: 0.0625rem;
  /*margin-bottom: 2em;*/
  background-color: #817d8e; }

.sidenav__languages {
  color: rgba(0, 0, 0, 0.2); }

.sidenav__languages__item {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none; }
  .sidenav__languages__item:hover, .sidenav__languages__item--active {
    color: #3c3750; }

.languages {
  display: none; }
  @media (min-width: 75em) {
    .languages {
      display: block; } }

.languages__item {
  text-decoration: none; }
  .languages__item:not(:last-child) {
    margin-right: 0.8em; }

.languages__flag {
  width: 1.38em;
  min-width: 1.125rem; }

.homepage {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
  align-items: flex-end;
  overflow: hidden; }
  @media (min-width: 62.5em) {
    .homepage {
      display: flex; } }

.homepage__wrapper {
  display: flex; }

.homepage__item {
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: flex-start;
  width: 25%;
  min-height: 100%;
  padding-left: calc(2.17391vw + 1.1413rem);
  padding-right: calc(2.17391vw + 1.1413rem);
  /*padding-bottom: rem(70);*/
  max-height: 67.5rem; }
  @media (min-width: 120em) {
    .homepage__item {
      padding-left: calc(6.03448vw - 3.49138rem); } }
  @media (min-width: 156.25em) {
    .homepage__item {
      padding-left: 5.9375rem; } }
  @media (min-width: 120em) {
    .homepage__item {
      padding-right: calc(6.03448vw - 3.49138rem); } }
  @media (min-width: 156.25em) {
    .homepage__item {
      padding-right: 5.9375rem; } }
  .homepage__item:hover.division-developing ~ .homepage__background {
    transform: translateX(0);
    display: block; }
  .homepage__item:hover.division-solar ~ .homepage__background {
    transform: translateX(100%);
    display: block; }
  .homepage__item:hover.division-landscape ~ .homepage__background {
    transform: translateX(200%);
    display: block; }
  .homepage__item:hover.division-finance ~ .homepage__background {
    transform: translateX(300%);
    display: block; }

.homepage__illustration {
  width: 100%;
  display: block;
  flex-shrink: 0;
  margin-bottom: 4.375rem;
  filter: grayscale(100%);
  opacity: .1;
  transition: 0.3s ease-in-out 0.1s; }
  .homepage__item:hover .homepage__illustration {
    opacity: 1;
    filter: grayscale(0%);
    transform: translateY(0.3125rem); }

.homepage__logo {
  display: block;
  width: 90%;
  margin-bottom: 5vh;
  margin-top: 2vh; }

.homepage__paragraph {
  width: 100%;
  font-size: calc(0.3125vw + 0.5rem);
  /*margin-bottom: 60px;*/
  margin-bottom: calc(5.55556vh + 0rem); }
  @media (min-width: 120em) {
    .homepage__paragraph {
      font-size: 0.875rem; } }
  @media (min-height: 67.5em) {
    .homepage__paragraph {
      margin-bottom: 3.75rem; } }

.homepage__link {
  cursor: pointer;
  position: relative;
  width: 3.75rem;
  width: calc(1.08696vw + 2.44565rem);
  display: block;
  margin-top: auto;
  bottom: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-bottom: 4.375rem;
  transition: ease-in-out 0.15s; }
  @media (min-width: 120em) {
    .homepage__link {
      width: 3.75rem; } }
  .homepage__item:hover .homepage__link {
    transform: translateY(-0.625rem); }
  .division-developing .homepage__link {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(13, 86, 165, 0.45); }
  .division-finance .homepage__link {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(253, 184, 19, 0.45); }
  .division-landscape .homepage__link {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(141, 198, 63, 0.65); }
  .division-solar .homepage__link {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(237, 28, 36, 0.45); }
  .homepage__item:hover.division-developing .homepage__link {
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(13, 86, 165, 0.25); }
  .homepage__item:hover.division-finance .homepage__link {
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(253, 184, 19, 0.25); }
  .homepage__item:hover.division-landscape .homepage__link {
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(141, 198, 63, 0.25); }
  .homepage__item:hover.division-solar .homepage__link {
    box-shadow: 0 2.5rem 2.5rem 0rem rgba(237, 28, 36, 0.25); }

.homepage__link__svg {
  position: absolute;
  top: 0.0625rem;
  bottom: 0;
  left: 0.125rem;
  right: 0;
  margin: auto;
  width: 20%; }

.homepage__background {
  top: 0;
  height: 100%;
  width: 25%;
  position: absolute;
  display: none;
  box-shadow: 0 0 2rem 0 rgba(60, 55, 80, 0.1);
  transition: 0.3s ease-in-out 0.1s;
  transition: transform 0.6s cubic-bezier(0.1, 0.9, 0.3, 1.1); }

.main {
  z-index: 50;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  padding-left: calc(0.52083vw + 2.08333rem);
  padding-right: calc(0.52083vw + 2.08333rem);
  padding-top: calc(0vw + 6.25rem);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(5.20833vw + 3.33333rem);
  flex-grow: 1; }
  @media (min-width: 80em) {
    .main {
      padding-left: 2.5rem; } }
  @media (min-width: 80em) {
    .main {
      padding-right: 2.5rem; } }
  @media (min-width: 80em) {
    .main {
      padding-top: 6.25rem; } }
  @media (min-width: 80em) {
    .main {
      margin-bottom: 7.5rem; } }
  .main--compact {
    flex-direction: row;
    padding-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.04); }
    @media (min-width: 62.5em) {
      .main--compact {
        box-shadow: none; } }
  .main--homepagetop {
    flex-direction: row;
    padding-top: 0;
    margin-bottom: 0;
    max-width: none;
    padding-left: calc(2.17391vw + 1.1413rem);
    padding-right: calc(2.17391vw + 1.1413rem); }
    @media (min-width: 120em) {
      .main--homepagetop {
        padding-left: calc(6.03448vw - 3.49138rem); } }
    @media (min-width: 156.25em) {
      .main--homepagetop {
        padding-left: 5.9375rem; } }
    @media (min-width: 120em) {
      .main--homepagetop {
        padding-right: calc(6.03448vw - 3.49138rem); } }
    @media (min-width: 156.25em) {
      .main--homepagetop {
        padding-right: 5.9375rem; } }
  .main--homepage {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: none;
    padding-top: 0; }

.info {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0;
  align-items: flex-start;
  justify-content: space-between;
  top: calc(0vw + 3.75rem);
  padding-bottom: calc(1.66667vw + 3.66667rem);
  flex-direction: column; }
  @media (min-width: 80em) {
    .info {
      top: 3.75rem; } }
  @media (min-width: 80em) {
    .info {
      padding-bottom: 5rem; } }
  @media (min-width: 56.25em) {
    .info {
      flex-direction: row;
      padding-right: 35%; }
      .page--about .info {
        padding-right: 0; } }

.info__logo {
  width: calc(18.75vw + 13.125rem);
  max-width: 100%;
  margin-bottom: 3.75rem; }
  @media (min-width: 80em) {
    .info__logo {
      width: 28.125rem; } }

.info__heading {
  line-height: 1.3;
  margin-bottom: 4.375rem; }

.info__paragraph {
  position: relative; }

.info__accordion__wrapper {
  position: relative; }

.info__gradient {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%); }

.info__description {
  margin-bottom: 3.125rem; }
  @media (min-width: 56.25em) {
    .info__description {
      margin-bottom: 3.125rem; } }

.info__illustration {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  display: none; }
  .info__illustration--small {
    display: block; }
  @media (min-width: 56.25em) {
    .info__illustration {
      width: 31.25rem;
      max-width: none;
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(100%);
      right: -10%; }
      .info__illustration--small {
        display: none; }
      .info__illustration--large {
        display: block; } }

.info__accordion {
  position: relative; }
  .info__accordion.is-active {
    overflow: visible; }
    .info__accordion.is-active .info__gradient {
      background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%); }
    .info__accordion.is-active .info__accordion__button:after {
      content: "ZOBRAZI\0164  MENEJ"; }
      :lang(en) .info__accordion.is-active .info__accordion__button:after {
        content: "SHOW LESS"; }

.info__accordion__hidden {
  height: 0;
  overflow: hidden; }
  .info__accordion__hidden > .info__paragraph:last-child {
    margin-bottom: 7.5rem; }

.info__accordion__button {
  z-index: 60;
  font-size: 0.8125rem;
  bottom: 2.75rem;
  color: #3c3750;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  padding: 0.9375rem 1.625rem 0.8125rem 1.625rem;
  border-top-left-radius: 3.75rem;
  border-top-right-radius: 3.75rem;
  border-bottom-left-radius: 3.75rem;
  border-bottom-right-radius: 3.75rem;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 500ms;
  box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.05);
  white-space: nowrap; }
  .info__accordion__button:after {
    display: block;
    line-height: 1;
    content: "ZOBRAZI\0164  VIAC"; }
    :lang(en) .info__accordion__button:after {
      content: "SHOW MORE"; }

.paragraph {
  font-size: calc(0.10417vw + 0.91667rem);
  color: #817d8e;
  display: block;
  line-height: 2;
  margin: 0;
  margin-bottom: 2em; }
  @media (min-width: 80em) {
    .paragraph {
      font-size: 1rem; } }
  @media (min-width: 56.25em) {
    .paragraph {
      margin-bottom: 3.5em; } }
  .paragraph > u {
    background-color: transparent;
    text-decoration: none;
    border-bottom: 0.0625rem currentColor solid;
    padding-bottom: 0.0625rem; }
    .page--about .paragraph > u {
      color: #00a6e7; }
    .page--developing .paragraph > u {
      color: #0d56a5; }
    .page--finance .paragraph > u {
      color: #fdb813; }
    .page--landscape .paragraph > u {
      color: #8dc63f; }
    .page--solar .paragraph > u {
      color: #ed1c24; }

.invests {
  display: flex;
  width: 100%;
  flex-direction: column; }
  .invests--preparing .invests__row {
    /*opacity: 0.03;*/ }

.invests__heading {
  text-transform: none;
  width: 100%;
  margin-bottom: 2.5em;
  line-height: 1; }

.invests__row {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-bottom: 4.375rem; }
  @media (min-width: 75em) {
    .invests__row {
      flex-direction: row; } }

.invests__contacts {
  margin-right: auto; }
  .invests--preparing .invests__contacts {
    /*background-color: black;*/ }
  @media (min-width: 75em) {
    .invests__contacts {
      flex-shrink: 0;
      box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
      width: 24em; } }

.invests__description {
  margin-bottom: 3.125rem; }
  @media (min-width: 75em) {
    .invests__description {
      margin-bottom: 0;
      margin-left: 4em; } }

.invests__description__heading {
  text-transform: none;
  width: 100%;
  margin-bottom: 1em; }

.contacts {
  display: flex;
  flex-wrap: wrap;
  color: #817d8e;
  font-size: calc(0.10417vw + 0.91667rem);
  margin-bottom: 1.25rem;
  width: 100%; }
  @media (min-width: 80em) {
    .contacts {
      font-size: 1rem; } }
  @media (min-width: 62.5em) {
    .contacts {
      box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
      padding: 3.75rem 3.4375rem;
      width: auto; } }

.contacts__logo {
  display: none;
  width: 100%;
  margin-bottom: 1.25em; }
  @media (min-width: 75em) {
    .contacts__logo {
      display: block; } }

.contacts__heading {
  width: 100%;
  margin-bottom: 1.7em;
  color: #3c3750; }

.contacts__col {
  width: 100%;
  margin-bottom: 0.7em; }
  @media (min-width: 81.25em) {
    .contacts__col {
      margin-bottom: 0;
      width: 33%; } }

.contacts__line {
  margin-bottom: 0.8em; }
  .contacts__line--dark {
    color: #3c3750; }

.contacts__block {
  margin-bottom: 2.5rem; }

.contacts__table {
  width: 100%; }

.contacts__table__cell {
  padding-bottom: 0.8em; }
  .contacts__table__cell:first-child {
    width: 4.6875rem;
    color: #3c3750; }
    .page--developing .contacts__table__cell:first-child {
      color: #0d56a5; }
    .page--finance .contacts__table__cell:first-child {
      color: #fdb813; }
    .page--landscape .contacts__table__cell:first-child {
      color: #8dc63f; }
    .page--solar .contacts__table__cell:first-child {
      color: #ed1c24; }
    .page--about .contacts__table__cell:first-child {
      color: #00a6e7; }
  .contacts__table__row--space .contacts__table__cell {
    padding-bottom: 2em; }

.table {
  width: 100%; }

.table__row:last-child .table__cell {
  padding-bottom: 0; }

.table__cell {
  text-decoration: none;
  padding-bottom: 0.8em; }
  .table__cell:first-child {
    width: 4.6875rem;
    color: #3c3750; }
    .page--developing .table--color .table__cell:first-child {
      color: #0d56a5; }
    .page--finance .table--color .table__cell:first-child {
      color: #fdb813; }
    .page--landscape .table--color .table__cell:first-child {
      color: #8dc63f; }
    .page--solar .table--color .table__cell:first-child {
      color: #ed1c24; }
    .page--about .table--color .table__cell:first-child {
      color: #00a6e7; }
  .table__row--space .table__cell {
    padding-bottom: 2em; }

.divisions {
  display: flex;
  width: 100%;
  /*@include container-custom($layout-container-max-width,(xl:40,s:25));*/
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column; }
  @media (min-width: 56.25em) {
    .divisions {
      flex-direction: row;
      align-items: flex-start; } }

.divisions__heading {
  text-transform: none;
  width: 100%;
  margin-bottom: 1.7em;
  padding-left: calc(-1.04167vw + 0.83333rem); }
  @media (min-width: 80em) {
    .divisions__heading {
      padding-left: 0rem; } }

.divisions__breadcrumb {
  color: #817d8e;
  font-size: 0.7em;
  margin-left: 1em;
  white-space: nowrap; }

.divisions__card {
  position: relative;
  width: 100%;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
  text-decoration: none;
  padding-left: calc(4.89583vw + 0.58333rem);
  padding-right: calc(4.89583vw + 0.58333rem);
  padding-top: calc(4.58333vw + 1.58333rem);
  padding-bottom: calc(1.66667vw + 2.79167rem);
  margin-bottom: calc(3.125vw + 4.0625rem); }
  @media (min-width: 80em) {
    .divisions__card {
      padding-left: 4.5rem; } }
  @media (min-width: 80em) {
    .divisions__card {
      padding-right: 4.5rem; } }
  @media (min-width: 80em) {
    .divisions__card {
      padding-top: 5.25rem; } }
  @media (min-width: 80em) {
    .divisions__card {
      padding-bottom: 4.125rem; } }
  @media (min-width: 80em) {
    .divisions__card {
      margin-bottom: 6.5625rem; } }
  @media (min-width: 56.25em) {
    .divisions__card {
      width: 46%; } }
  @media (min-width: 62.5em) {
    .divisions__card {
      width: 100%; } }
  @media (min-width: 81.25em) {
    .divisions__card {
      width: 46%; } }

.divisions__card__logo {
  width: 90%;
  max-width: 19.125rem; }

.divisions__card__paragraph {
  margin-top: calc(1.66667vw + 1.54167rem);
  font-size: calc(0.20833vw + 0.70833rem);
  color: #817d8e;
  display: block;
  line-height: 2;
  margin-bottom: 0; }
  @media (min-width: 80em) {
    .divisions__card__paragraph {
      margin-top: 2.875rem; } }
  @media (min-width: 80em) {
    .divisions__card__paragraph {
      font-size: 0.875rem; } }

.divisions__card__button {
  position: absolute;
  width: 3.75rem;
  display: block;
  bottom: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  transform: translateY(50%); }
  .division-developing .divisions__card__button {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(13, 86, 165, 0.45); }
  .division-finance .divisions__card__button {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(253, 184, 19, 0.45); }
  .division-landscape .divisions__card__button {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(141, 198, 63, 0.65); }
  .division-solar .divisions__card__button {
    box-shadow: 0 1rem 2.5rem -0.625rem rgba(237, 28, 36, 0.45); }

.divisions__card__svg {
  position: absolute;
  top: 0.0625rem;
  bottom: 0;
  left: 0.125rem;
  right: 0;
  margin: auto;
  width: 20%; }

.svg {
  display: block; }

.svg--arrow .svg__path {
  stroke: #3c3750; }
  .division-developing .svg--arrow .svg__path {
    stroke: #0d56a5; }
  .division-finance .svg--arrow .svg__path {
    stroke: #fdb813; }
  .division-landscape .svg--arrow .svg__path {
    stroke: #8dc63f; }
  .division-solar .svg--arrow .svg__path {
    stroke: #ed1c24; }

.placeholder-text {
  user-select: none;
  color: transparent !important;
  border-bottom: 0.75rem solid #f8f8f8 !important; }
  .placeholder-text--bold {
    border-width: 1.875rem !important; }

.footer {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(0.52083vw + 2.08333rem);
  padding-right: calc(0.52083vw + 2.08333rem);
  font-size: calc(0.3125vw + 0.75rem);
  padding-top: 2em;
  padding-bottom: 2.5em;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse; }
  @media (min-width: 80em) {
    .footer {
      padding-left: 2.5rem; } }
  @media (min-width: 80em) {
    .footer {
      padding-right: 2.5rem; } }
  @media (min-width: 80em) {
    .footer {
      font-size: 1rem; } }

.footer__img {
  width: calc(8.33333vw + 5.20833rem); }
  @media (min-width: 80em) {
    .footer__img {
      width: 11.875rem; } }

.footer__text {
  color: #ededed;
  font-weight: bold;
  margin-top: 1em; }

html {
  font-family: "ProximaNova";
  letter-spacing: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fcfcfc;
  background-color: #ffffff;
  overflow-x: hidden; }
  @media (min-width: 62.5em) {
    body {
      padding-left: calc(44.64286vw - 9.15179rem); } }
  @media (min-width: 62.5em) and (min-width: 80em) {
    body {
      padding-left: 26.5625rem; } }

  body.page--homepage {
    padding-left: 0; }

.ratio-keeper {
  display: block;
  width: 100%; }

.ratio-keeper-v {
  display: block;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
