@import "variables.scss";

.heading{
    font-family: $font-sans-serif-heading;
    font-weight: normal;
    font-style: normal;
    color: $heading-color;
    line-height: 1.33;


    &--light{
        color: $heading-color-light;
    }

    &--regular{
        font-weight: normal;
    }
    &--italic{
        font-style: italic;
    }
    &--thin{
        font-weight: 300;
    }

    &--center{
        text-align: center;
    }
}

.heading__light{
    opacity: 0.4;
}
@for $i from 1 through 6{
    #{".heading--"+$i}{
        @include heading("h"+$i);
    }
}
