@import "variables.scss";

.google-map{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/map.png);
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
}