@import "variables.scss";

.sidenav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include linear-interpolation-chain(font-size,(
    xl: 22,
        $sidebar-breakpoint: (17 22),
        s: 17
        ));
}

.sidenav__item{
    width: 100%;
    display: flex;
    color: $color-primary;
    text-decoration: none;
    margin-bottom: 2em;
    &:hover{
        .sidenav__logo{
            transform: translateX(rem(20));
        }
        .sidenav__text{
            transform: translateX(rem(20));
        }
    }
}

.sidenav__logo{
    width: 100%;

}

.sidenav__divider{
    width: 50%;
    height: rem(1);
    margin-bottom: 2em;
    background-color: $color-primary-light;
}

.sidenav__languages{
    color: $color-primary-light;
}
.sidenav__languages__item{
    color: $color-primary-light;
    text-decoration: none;
    &:hover,&--active{
        color: $color-primary;
    }
}

