@import "variables.scss";

.main{
    @include linear-interpolation-chain(margin-top, $header-heights);
    @include linear-interpolation-chain(margin-bottom, $main-margins-bottom);
    flex-grow: 1;

    &--homepage{
        display: flex;
        margin-bottom: 0;
    }
}
