@import "variables.scss";

.main{
    z-index: z-index(main);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: rem($layout-container-max-width-with-paddings);
    @include linear-interpolation-chain(padding-left,$layout-container-inner-paddings);
    @include linear-interpolation-chain(padding-right,$layout-container-inner-paddings);
    @include linear-interpolation-chain(padding-top, $header-heights);
    margin-left: auto;
    margin-right: auto;
    @include linear-interpolation-chain(margin-bottom, $main-margins-bottom);
    flex-grow: 1;

    &--compact{
        flex-direction: row;
        padding-top: 0;
        margin-bottom: 0;
        box-shadow: 0 rem(3) rem(6) rgba(0,0,0,0.04);
        @include media($sidebar-breakpoint){
            box-shadow: none;
        }
    }
    &--homepagetop{
        flex-direction: row;
        padding-top: 0;
        margin-bottom: 0;
        max-width: none;
        @include linear-interpolation-chain(padding-left, $homepage-item-paddings-horizontal);
        @include linear-interpolation-chain(padding-right, $homepage-item-paddings-horizontal);

    }

    &--homepage{
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        max-width: none;
        padding-top: 0;
    }

    @include media($sidebar-breakpoint){

    }
}
