@font-face {
    font-family: "SofiaPro", sans-serif;
    src: url("SofiaPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "Proxima", sans-serif;
    src: url("ProximaNova-Regular.woff") format("woff"); 
}


$font-sans-serif: "Proxima", sans-serif;
$font-sans-serif-letter-spacing: 0.00em;

$font-sans-serif-heading: "SofiaPro", sans-serif;



//-----z-indexes--
$z-indexes: (
header: 100

);

$color-primary: #3c3750;
$color-primary-light: #817d8e;
$color-secondary: #ffffff;
$color-secondary-dark: #fcfcfc;
$color-terciary: #00a6e7;

$color-developing: #0d56a5;
$color-landscape: #8dc63f;
$color-solar: #ed1c24;
$color-finance: #fdb813;
$color-about: $color-terciary;
