@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&subset=latin-ext'); //Lora - serif, regular, regular italic and bold
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext'); //Lato - sans-serif, regular

$font-sans-serif: 'Lato',Verdana, sans-serif;
$font-serif: 'Lora',Georgia, serif;

//-----z-indexes--
$z-indexes: (

);

$color-primary: #000000;
$color-primary-light: #d1d1d1;
$color-secondary: #ffffff;
$color-secondary-dark: #fcfcfc;