@font-face{
    font-family: "SofiaPro";
    src: url("../fonts/SofiaPro-Regular.woff");
}


@font-face{
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Regular.woff");
}


$font-sans-serif: "ProximaNova";
$font-sans-serif-letter-spacing: -0.02em; //pryč

$font-sans-serif-heading:"SofiaPro";



//-----z-indexes--
$z-indexes: (
header: 100,
menu: -1,

);

$color-primary: #3c3750;
$color-primary-light: #817d8e;
$color-secondary: #ffffff;
$color-secondary-dark: #fcfcfc;
$color-terciary: #00a6e7;

$color-developing: #0d56a5;
$color-landscape: #8dc63f;
$color-solar: #ed1c24;
$color-finance: #fdb813;
$color-about: $color-terciary;
