@import "variables.scss";

.topnav{
    display: flex;
    @include linear-interpolation-chain(font-size,(xl: 15, s:13));
    margin-top: auto;
    margin-bottom: auto;
}

.topnav__item{
    position: relative;
    color: $color-primary-light;
    text-decoration: none;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    &:not(:last-child){
        @include linear-interpolation-chain(margin-right,(
        xl: 100,
            s:30
            ));
    }

    &:hover,&--active{
        color: $color-primary;
        .topnav__underline{
            background-color: $color-primary;
            transform: scaleX(1);
        }
    }
}
.topnav__hamburger{
    margin-left: auto;
    color: black;
}

.topnav__underline{
    position: absolute;
    bottom: rem(-2);
    left: 0;
    width: 100%;
    height: rem(2);
    background-color: $color-primary-light;
    transform: scaleX(0);
    transform-origin: left center;
    transition-property: transform, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
}