@import "variables.scss";

.topnav{
    display: flex;
    font-family: $font-sans-serif-heading;
    @include linear-interpolation-chain(font-size,(xl: 15, s:13));
    margin-top: auto;
    margin-bottom: auto;
    background-color: $color-secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 2em;
    
    @include border-radius-top-right(rem(30));
    @include border-radius-bottom-right(rem(30));
    @include linear-interpolation-chain(padding-left,$layout-container-inner-paddings);
    transform: translateY(50%);
    /*@include material-box-shadow(4);*/
}
.topnav__extension{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: $color-secondary;
    transform: translateX(-100%);
}

.topnav__item{
    position: relative;
    color: $color-primary-light;
    text-decoration: none;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    &:not(:last-child){
        @include linear-interpolation-chain(margin-right,(
        xl: 100,
            s:30
            ));
    }

    &:hover,&--active{
        color: $color-primary;
        .topnav__underline{
            background-color: $color-primary;
            transform: scaleX(1);
        }
    }
}
.topnav__hamburger{
    margin-left: auto;
    color: black;
}

.topnav__underline{
    position: absolute;
    bottom: rem(-2);
    left: 0;
    width: 100%;
    height: rem(2);
    background-color: $color-primary-light;
    transform: scaleX(0);
    transform-origin: left center;
    transition-property: transform, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
}